<!DOCTYPE html>
<html>
<head>
<title>Project</title>
<style>
body {
	margin: 0;
}
.HomeDiv01 {
	background-color:#eeeeee;
	padding:50px 100px;
}
.HomeDiv02 {
	background-color:#ffffff;
	padding:50px 50px;
	width: 600px;
}
</style>
</head>
<body>
	<div> {% include "HeaderFile.html" %} </div>

	<Div class="HomeDiv01">
		<div class="HomeDiv02">
			<h1>Welcome</h1>
			<p>Welcoming visitors is an excellent way of improving user experience (UX). It can set the tone for the rest of their visit on your site.
			The right welcome message can be the first step to gaining a lifelong fan or customer. That’s why, in today’s post, we’ll look at 11 website welcome message examples that you can use on your own site.</p>
		</div>	
	</div>

</body>
</html>